VITE_FIREBASE_API_KEY=your_api_key
VITE_FIREBASE_AUTH_DOMAIN=bus-gabon.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=bus-gabon
VITE_FIREBASE_STORAGE_BUCKET=bus-gabon.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=000000000000
VITE_FIREBASE_APP_ID=1:000000000000:web:0000000000000000000000
VITE_USE_EMULATORS=false
